<div class="container py-4">
  <div class="d-flex justify-content-center">
    <h2><i class="fa-solid fa-list-ul"></i> <span>My shared collections</span></h2>
  </div>
  <div class="row gy-3 my-2 bucket-list">
    {{#if buckets}}
      {{#each buckets}}
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <span class="badge text-bg-secondary"><i class="fa-solid fa-box"></i></span>
          </div>
          <div class="card-body">
            <div class="row">
              <a href="/buckets/{{_id}}/details"><img class="img-fluid" src="{{resources.0.thumbnail}}" style="border-radius: 20px; width: 100%;" alt=""></a>
            </div>
            <div class="row mt-2">
              <h5 class="card-title px-3 py-0 mb-1">{{name}}</h5>
              <p class="card-text px-3 py-0 mb-2">{{description}}</p>
              <a href="/buckets/{{_id}}/details" class="btn btn-primary btn-width ms-3 p-1">Update</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>