<section class="container-fluid">
    <div class="row position-fixed text-center py-3" style="width: 100%; top: 63px; background-color: white;">
        <div class="btn-group d-flex text-center justify-content-between align-items-center" data-toggle="button">
            {{#each buckets.buttons}}
            <a href="{{href}}" type="button" class="btn btn-info mx-2 {{state}}">{{tag}}</a>
            {{/each}}
        </div>
    </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-12 mt-4 pt-2 px-3">
            <div class="row d-flex justify-content-around g-0">
                {{#each buckets}}
                <div class="card-fluid mb-4 px-0" style="width: 31%;">
                    <div class="card-body">
                        <div class="row mb-2 d-flex justify-content-start px-0 mx-0">
                            <div class="col z-index-n1">
                                <a href="/buckets/{{_id}}"><img class="img-fluid"
                                        src="{{resources.[0].thumbnail}}" alt=""
                                        style="border-radius: 20px; width: 100%;"></a>
                            </div>
                        </div>
                        <div class="row px-3">
                            <div class="col-2 text-end p-1">
                                <img src="{{owner.profilePic}}" class="img-fluid"
                                    style="height: 45px; width: 45px; border-radius:50%; object-fit: cover;" alt="...">
                            </div>
                            <div class="col-10 py-1 px-2">
                                <div class="row">
                                    <h6 class="card-title"><a href="/buckets/{{_id}}"
                                            style="text-decoration: none; color: black;">{{name}}</a></h6>
                                </div>
                                <div class="row d-flex flex-row mt-1 align-items-center">
                                    <div class="col-8">
                                        <p class="text-secondary-emphasis" style="font-size: 0.8em; font-weight: 600;">
                                            {{owner.username}}</p>
                                        <p class="text-secondary small pt-0 mt-0" style="font-size: 0.8em;"><span>Shared
                                                on </span>{{newCreatedAt}}</p>
                                    </div>
                                    <div class="col-4 ps-0 text-end pt-0">
                                        <span class="badge bg-secondary" style="font-size: 0.75em;">{{videoCount}}
                                            VIDEO(S)</span>
                                        <div class="rounded-3 p-0 my-1" style="background-color: #efefef;">
                                            <div class="row d-flex px-0 justify-content-center">
                                                <div
                                                    class="col-4 d-flex flex-row justify-content-center align-items-center py-1">
                                                    <a href="/buckets/{{_id}}/upvote"><img style="width: 15px;"
                                                            src="https://cdn-icons-png.flaticon.com/512/0/193.png"
                                                            alt=""></a>
                                                    <p class="ps-2" style="font-size: 0.7em;">{{upVoteCount}}</p>
                                                </div>
                                                <div
                                                    class="col-4 d-flex flex-row justify-content-center align-items-center py-1">
                                                    <a href="/buckets/{{_id}}/downvote"><img style="width: 15px;"
                                                            src="https://cdn-icons-png.flaticon.com/512/25/25395.png"
                                                            alt=""></a>
                                                    <p class="ps-2" style="font-size: 0.7em;">{{downVoteCount}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>